body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0px ;
    display: block;
}

html {
    touch-action: manipulation;
}

 .globalLogin{
    backdrop-filter: blur(2px);
    background-image:url("/images/background1.png");             /*Definindo a img de fundo*/
    background-repeat: no-repeat;                                   /*Nao repita a img*/
    background-size: cover;                                         /*Deixar que ele defina o melhor uso da img */
    background-position: center center;                             /*Centraligar o eixo X e Y*/ 
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.800);
    height: 400px;  /*Altura*/
    width: 320px;   /*Largura*/
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
}

.login input{
    /* font-size: 20px; */
    margin: 10px 10px 0px 10px;
    padding: 14px 16px ;
    /* background-color: rgba(252, 214, 214, 0.411); */
    color: Black;
    border: none;
    width: 310px;
    height: 22px;
    outline: none;
    border-radius: 25px;
}

.img_logo2{
    height: 150px;
}

.loginform{
    margin-top: 15px;
}

.solicitacad p{
    margin-top: 32px;
}

/* StyleBtnLogin */
.btn_login{
    border: 0px;
    width: 220px;
    height: 48px;
    margin-top: 10px;
    align-items: center;
    border-radius:28px;
    cursor:pointer;
    font-size:15px;
    padding:9px 31px;
}
.btn_login{
	/* background:linear-gradient(to bottom, #ca3951 5%, #be5a80 100%); */
    background:linear-gradient(to bottom, #482beb3f 5%, #7d84ee 100%);
	color: #fff;
	border-radius: 20px;
	text-shadow: none;
}
.btn_login:hover{
	background:linear-gradient(to bottom, #482beb9a 5%, #7d84ee 100%);
	color: #fff;
	border-radius: 20px;
	text-shadow: none;
}

.namedev{
    font-family:OCR A Std, monospace;
}
