@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,300;1,500&display=swap');


*{box-sizing: border-box;font-family: 'Poppins', sans-serif;margin: 0px;}

body{
    /* padding: 15px; */
    /* max-width: 1200px; */
    /* background-color: rgb(34,34,34); */
    /* background-color: rgb(241, 241, 241); */
    background: linear-gradient(to right,
         rgb(255, 255, 255),
         rgba(167, 173, 219, 0.541)       
           ),
           url("../img/equipegvtrading.jpeg") center/cover fixed no-repeat;
}

header{
    width: 100%;
    height: 90px; 
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;    
    padding: 18px 40px;
    transition: all 0.5s;
    position: fixed;
}   
.nav .logo{
    color: rgb(25, 0, 255);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{color: black;}

.nav-menu a{
    color:rgb(79, 80, 160);
}
.nav-menu a:hover{
    color: rgb(46, 43, 233);
    transition: 0.3s all;
    text-shadow: rgb(0, 0, 0) 4px 5px 25px;
}

 .nlogo{
    display: flex;
    align-items: center;
    width: 10%;
    height: 90px;
}

.navglobal{
    height: 90px;
    /* width: 80%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.nav-menu{
    display: flex;
    list-style: none;
    height: 44px;
    box-shadow: rgb(149, 157, 165) 0px 8px 24px;
    background-color: #ffffff;
    border-radius: 50px;
    padding:0px 10px;
    align-items: center;
}

.nav-item{
    display: inline-block;
    margin: 20px;
}

.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: black;
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: red;
}

.home{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
}
.home-text{
    max-width: 37rem;

}
.home-text .text-h4{
    font-size: 2.5rem;
    color: #2f2f8a;
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 5rem;
    margin-bottom: 1rem;
    line-height: 5rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: #3737d6;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background: #3737d68e;
    color: #2f2f8a;
}
/* .home-vid .vid{
    width: 100%;
} */

.home-vid{
    width: 900px;

}

.vid{
    width: 100%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer{
    background-color: #3737d6;
    height: 90px;
}


@media (max-width:785px) {
    .nav{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: auto;
        flex-direction: column;
        background: white;
        gap: -10px;
        transition: 0.3s;
        border-radius: 10px;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
     .home-vid{
        width: 90%;
    }
    .nlogo{
        display: flex;
        align-items: center;
        width: 30%;
        height: 90px;
    }
}