@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,300;1,500&display=swap');


*{box-sizing: border-box;font-family: 'Poppins', sans-serif;margin: 0px;}

.body{   
    background-color: #f1f1f1;
    /* background-color: #dae6fc; */
}
.body.ativo{
    background-color: #3d3d3d;
    color: white;
}
.header{
    position: fixed;
    padding: 0px 35px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hlogo{
    height: auto;
    width: auto;
}
.h2logo{
    width: 250px;
}

.nav-list{
    align-items: center;
    display: flex;
    gap: 25px;
}
.nav-list a{text-decoration: none;}

.nav-item,.nav-btn{
    color: black;
    display: flex;
}
.nav-btn{
    padding: 5px 15px;
    color: #ffff;
    background-color: #3e72ff;
    border-radius: 7px;
}
.animated{
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.page{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 25px;
}
.perfil{
    padding: 0px 40px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 150px;
    width: 450px;
    margin-bottom: 35px;
    box-shadow: rgba(0, 0, 0, 0.56) 10px 10px 70px -25px;
}


.landHome{
    display: flex;
    flex-direction: column;
    width: 40%; 
    
}
.landHome-h4{
    font-size: 1.5rem;
    color:#3e72ff;
}
.landHome-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4.5rem;
}
.EmailLand{
    margin: 10px;
    padding: 10px 7px;
    width: 450px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 35px;
    height: 60px;
}
.EmailLand input{  
    border-radius: 25px 0px 0px 25px;
    padding: 5px;
    width: 100%;
    border: none;
    outline: 0;
    font-size: 20px;
}
.Email-btn{
    padding: 14px 45px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    background-color: #3e72ff;
}
.Email-btn:hover{
    background-color: #5482ff;
    border-radius: 15px;
    padding: 14px 47px;
    transition: all 0.2s;
}
.imgLand{
    width: 30%;
}

.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: black;
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: #0678E4;;
}


/* TERMINAR A RESPONSIVIDADE QUE AINDA ESTA BUGADA */
@media(max-width:785px) {
    .landText{
        width: 90%;
    }
    .imgLand{
        display :none;
    }
    .main{
        height: 100%;
    }
    .page{
        padding: 0px;
        flex-direction: column-reverse;
        width: 100%;
    }
    .landHome{
        width: 100%;
        align-items: center;
        padding: 25px;
    }
    .landHome-h4{
        font-size: 1rem;
        color:#3e72ff;
    }
    .landHome-h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        line-height: 3rem;
    }
    .perfil{
        padding: 15px 0px;
        flex-direction: column;
        width: 250px;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.56) 5px 5px 40px -25px;
    }
    .EmailLand{
        margin: 0px;
        margin-top: 25px;
        width: 100%;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-list{
        position: fixed;
        right: -100%;
        top: 80px;
        width: 100%;
        height: auto;
        flex-direction: column;
        background: rgb(255, 255, 255);
        gap: -10px;
        transition: 0.3s;
        border-radius: 0px 0px 10px 10px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        padding: 20px;
    }
    .nav-list.ativo{
        right: 0;
    }
}

@media(max-width:280px) {
    .landHome{
        padding: 25px 5px ;
    }
    .perfil{
        width: 200px;
    }
    .h2logo{
        width: 150px;
    }
    .header{
        padding: 20px;
        height: 80px;
    }
    .EmailLand{
        width: 100%;
        border-radius: 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .EmailLand input{
        background-color: transparent;
        font-size: 20px;
        margin-top: 10px;
        border-radius: 0px;
        text-align: center;
        border-bottom: solid 1px #646464;
        box-shadow: rgba(0, 0, 0, 0.56) 5px 5px 40px -25px;
    }
}